---
label: projects
heading: Projects
---
<div class="projects-container">
{% for project in site.projects %}
	<div class="project">
		{% if project.image_name %}
			<h4>{{ project.name }}</h4>
			<img src="{{ base-url }}/assets/images/{{ project.image_name }}" alt="{{ project.name }}"/>
			<div class="description with-image">
				<p>{{ project.description }}</p>
				<p>Technologies: {{ project.tech }}</p>
				{% if project.github_url %}
					<a class="btn btn-light" href="{{ project.github_url }}" target="_blank">
						<i class="fa fa-github"> {{ project.name }}</i>
					</a>
				{% endif %}
				{% if project.try_url %}
					<a class="btn btn-light" href="{{ project.try_url }}" target="_blank">
						<i class="fa fa-external-link"> Try it out</i>
					</a>
				{% endif %}
				{% if project.image_name %}
					<a class="btn btn-light" href="{{ base-url }}/assets/images/{{ project.image_name }}" target="_blank">
						<i class="fa fa-image"> View image</i>
					</a>
				{% endif %}
			</div>
		{% endif %}

		{% unless project.image_name %} {% comment %} Used this instead of an else statement because a console warning bug was coming up {% endcomment %}
			<h4>{{ project.name }}</h4>
			<div class="description">
				<p>{{ project.description }}</p>
				<p>Technologies: {{ project.tech }}</p>
				{% if project.github_url %}
					<a class="btn btn-light" href="{{ project.github_url }}" target="_blank">
						<i class="fa fa-github"> {{ project.name }}</i>
					</a>
				{% endif %}
				{% if project.try_url %}
					<a class="btn btn-light" href="{{ project.try_url }}" target="_blank">
						<i class="fa fa-external-link"> Try it out</i>
					</a>
				{% endif %}
			</div>
		{% endunless %}
	</div>
{% endfor %}
</div>