---
label: projects
heading: Projects
---
<div class="projects-container">
{% for project in site.data.projects %}
	<div class="project">
		<div class="project-header">
			<h3>
				{{ project.name }}
			</h3>
		</div>
		<div class="project-contents description">
			<p>{{ project.description }}</p>
			<div class="logos center-text">
				{% for logo in project.logos %}
					{% include logo.html logo=logo %}
				{% endfor %}
			</div>
			<p class="buttons center-text">
				{% include icon_button.html href=project.github_url text=project.name icon='github' %}
				{% include icon_button.html href=project.try_url text='Visit' icon='external-link-alt' %}
			</p>
		</div>
	</div>
{% endfor %}
</div>