<div class="profile center-text">
  <!-- To load the image ASAP -->
  <img class="background-hidden" src="{{ site.baseurl }}/assets/images/background_toronto.jpg" aria-hidden="true" style="display: none;" />

  <div class="profile-info">
    <img class="profile-picture" src="{{ site.baseurl }}/assets/images/Profile Picture - Saahil Hamayun.jpg" alt="Saahil Hamayun Profile Picture"/>
    <h1 class="profile-name">Saahil Hamayun</h1>
  </div>

  <div class="profile-social" aria-label="Social buttons">
    {% include social_button.html aria_label="Send email" icon='fa-envelope' href='mailto:saahil.hamayun@gmail.com?Subject=Hello%20Saahil%21' %}
    {% include social_button.html aria_label="Open LinkedIn Profile" icon='fa-linkedin' href='https://www.linkedin.com/in/saahilh/' %}
    {% include social_button.html aria_label="Open GitHub Profile" icon='fa-github' href='https://github.com/saahilh/' %}
    {% include social_button.html aria_label="Open Stack Overflow Profile" icon='fa-stack-overflow' href='https://stackoverflow.com/users/12380239/saahil-hamayun' %}
    {% include social_button.html aria_label="Open Resume" icon='fa-file-text-o' href='https://www.saahilhamayun.com/assets/doc/Resume___Saahil_Hamayun.pdf' %}
  </div>
</div>