<div class="profile center-text">
  <div class="profile-info">
    <img class="profile-picture" src="{{ site.baseurl }}/assets/images/profile_downscaled.jpg" alt="Saahil Hamayun Profile Picture"/>
    <h1 class="profile-name">Saahil Hamayun</h1>
  </div>

  <div class="profile-social">
    {% include social_button.html icon='fa-envelope' href='mailto:saahil.hamayun@gmail.com?Subject=Hello%20Saahil%21' %}
    {% include social_button.html icon='fa-linkedin' href='https://www.linkedin.com/in/saahilh/' %}
    {% include social_button.html icon='fa-github' href='https://github.com/saahilh/' %}
    {% include social_button.html icon='fa-stack-overflow' href='https://stackoverflow.com/users/12380239/saahil-hamayun' %}
    {% include social_button.html icon='fa-file-pdf-o' href='https://www.saahilhamayun.com/assets/doc/Resume___Saahil_Hamayun.pdf' %}
  </div>
</div>