footer {
	text-align: center;

	background-color: darkgrey;
	color: white;

	a.btn {
		@include cross-browser-transition(0.25s);
		color: white;
	}

	a.btn:hover, a.btn:active {
		color: $contrast-color; 
	}

	.btn i {
		font-size: 3em;
	}
}