.contact {
	.social-buttons {
		a {
		  @include cross-browser-transition(0.25s);
		  color: white;
		}

		a:hover, a:active {
			color: $contrast-color; 
		}

		i {
			font-size: 3em;
		}
	}
}