header {
	background-image: url($base-url + '/assets/images/background-885-dark.jpg');
	background-attachment: fixed;
	background-size: cover;

	text-align: center;
	padding: 50px 0;
	
	.profile-picture {
		max-width: 200px;
		border-radius: 15%;
		height: auto;
		padding: 0.25rem;
	}

	.profile-name {
		color: $contrast-color;
		font-weight: bold;
	}

	.header-buttons {
		background-color: darkgrey;
		color: white;
		margin: auto;

		width: 470px;
		border-radius: 15px;

		a.btn {
			@include cross-browser-transition(0.25s);
			color: white;
			padding: 20px 40px;
			border-radius: 0;
		}

		a.btn:hover, a.btn:active {
			background-color: $contrast-color; 
		}

		.btn i {
			font-size: 1.5em;
		}
	}
}