header {
	background-image: radial-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.05)), url($base-url + '/assets/images/background-885-dark.jpg');
	background-attachment: fixed;
	background-size: cover;

	height: max-content;
	padding: 50px;

	.profile{
		text-align: center;
	}

	.profile-picture {
		max-width: min(70vw, 300px);
		width: 100%;
		border-radius: 15%;
		height: auto;
		padding: 0.25rem;
	}

	.profile-name {
		color: $contrast-color;
		font-size: 3.5em;
		font-weight: bold;
		font-family: Zilla Slab;
	}

	.profile-social {
		background-color: rgba(37, 126, 131, 0.3);
		color: white;
		margin: auto;

		max-width: 75vw;
		width: 475px;
		border-radius: 15px;

		a.btn {
			@include cross-browser-transition(0.25s);
			color: white;
			padding: 10px 20px;
			border-radius: 0;
		}

		a.btn:hover, a.btn:active {
			background-color: $contrast-color; 
		}

		.btn i {
			font-size: 2.5em;
		}

		@media screen and (max-width: 767px) {
			.btn i {
				font-size: 1.5em;
			}	
		}
	}
}