header {
	background-image: radial-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.05)), url($base-url + '/assets/images/background-885-dark.jpg');
	background-attachment: fixed;
	background-size: cover;

	height: 100vh;

	.profile{
		position: absolute;
		top: 25%;
		left: 50%;
		@include cross-browser-transform(translate(-50%, -15%));

		text-align: center;
	}

	.profile-picture {
		max-width: 300px;
		border-radius: 15%;
		height: auto;
		padding: 0.25rem;
	}

	.profile-name {
		color: $contrast-color;
		font-weight: bold;
	}

	.profile-social {
		background-color: darkgrey;
		color: white;
		margin: auto;

		width: 470px;
		border-radius: 15px;

		a.btn {
			@include cross-browser-transition(0.25s);
			color: white;
			padding: 20px 40px;
			border-radius: 0;
		}

		a.btn:hover, a.btn:active {
			background-color: $contrast-color; 
		}

		.btn i {
			font-size: 1.5em;
		}
	}
}