$contrast-color: #b14a54;

$bg-color-1: #257e83;
$text-color-1: white;

$bg-color-2: white;
$text-color-2: black;

$screen-width-sm: 768px;
$screen-width-md: 992px;
$screen-width-lg: 1140px;
$screen-width-xl: 1600px;

@mixin cross-browser-transition($transition) {
	-o-transition: $transition;
	-ms-transition: $transition;
	-moz-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

html {
	font-size: 14px;
}

body {
	font-family: Zilla Slab;
}

@import "header";
@import "section";
@import "project";

.about p {
	max-width: 700px;
}

@media screen and (min-width: $screen-width-sm) {
	section {
		display: grid;
		grid-template-rows: 1fr;
	}
}

@media screen and (min-width: $screen-width-xl) {
	section .section-content {
		max-width: 100%;
	}
}
