$contrast-color: #b14a54;

$bg-color-1: #257e83;
$text-color-1: white;

$bg-color-2: white;
$text-color-2: black;

@mixin cross-browser-transition($transition) {
	-o-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin cross-browser-transform($transform) {
	-o-transform: $transform;
	-ms-transform: $transform;
	-moz-transform: $transform;
	-webkit-transform: $transform;
	transform: $transform;
}

html {
	font-size: 16px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	@include cross-browser-transform(translate(-50%, -50%));
}

.bottom-left {
	position: absolute;

	padding: 10px;
	bottom: 0;
	left: 0;
}

@import "header";
@import "section";

@import "about";
@import "project";

@media screen and (max-width: 575px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 1139px) {}

@media screen and (min-width: 1140px) {}