$contrast-color: #b14a54;

$bg-color-1: #257e83;
$text-color-1: white;

$bg-color-2: white;
$text-color-2: black;

@mixin cross-browser-transition($transition) {
	-o-transition: $transition;
	-ms-transition: $transition;
	-moz-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

html {
	font-size: 14px;
}

@import "header";
@import "section";
@import "project";

@media screen and (max-width: 767px) {
	.project {
		min-width: 70vw;
	}
}

@media screen and (min-width: 768px) {
	section {
		display: grid;
		grid-template-rows: 1fr;
	}
}

@media screen and (min-width: 991px) {
	.about p {
		max-width: 700px;
	}
}

@media screen and (min-width: 1140px) {
	header{
		.profile-picture, .profile-social{
			max-width: min(70vw, 450px);
		}

		.profile-name {
			font-size: 5em;
		}
	}

	.projects-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}

	.project {
		margin: 0;
	}
}

@media screen and (min-width: 1600px) {
	.projects-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
	}

	section .section-content {
		max-width: 100%;
	}
}