.page-section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.page-section:nth-child(even) {
	background-color: $bg-color-1;
	color: white;
}

.page-section:nth-child(odd) {
	background-color: $bg-color-2;
	color: black;
}

.page-section:last-child {
	background-color: darkgrey;
	color: white;
}