.page-section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.page-section:nth-child(even) {
	background-color: white;
	color: black;
}

.page-section:nth-child(4n) {
	background-color: $contrast-color;
	color: white;
}

.page-section:nth-child(4n+2) {
	background-color: $bg-color-1;
	color: white;
}

.page-section:last-child {
	background-color: darkgrey;
	color: white;
}