header {
	background-image: radial-gradient(rgba(0, 0, 0, 1), rgba(100, 100, 100, 0.05)), url($base-url + '/assets/images/background-885-dark.jpg');
	background-attachment: fixed;
	background-size: cover;

	height: max-content;
	padding: 50px;

	.profile-picture, .profile-social {
		max-width: min(70vw, 300px);
		@media screen and (min-width: $screen-width-lg) {
			max-width: min(70vw, 450px);
		}
	}

	.profile-picture {
		border-radius: 15%;
		padding: 0.25rem;
	}

	.profile-name {
		color: $contrast-color;
		font-weight: bold;
		font-size: 3.5em;
		@media screen and (min-width: $screen-width-lg) {
			font-size: 5em;
		}
	}

	.profile-social {
		$social-bg-color: $bg-color-2;
		background-color: rgba(red($social-bg-color), green($social-bg-color), blue($social-bg-color), 0.4);
		margin: auto;

		border-radius: 15px;

		a.btn {
			@include cross-browser-transition(0.25s);
			color: $text-color-2;
			padding: 10px 20px;
			border-radius: 0;
			&:hover, &:active {
				background-color: $bg-color-2; 
			}

			font-size: 1.5em;
			@media screen and (min-width: $screen-width-sm) {
				font-size: 2.5em;
			}
		}
	}
}