.projects-container {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.btn-dark {
	background-color: $contrast-color;
	border: none;
}

.project {
	min-width: 30vw;
	max-width: 40vw;
	margin: 13px auto;

	.buttons {
		padding-top: 10px;
		text-align: center;
	}

	.project-header {
		padding: 15px 20px;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		background-color: $contrast-color;
		color: white;

		h4 {
			display: inline-block;
			font-size: 2em;
			font-family: Bad Script;
			margin-top: 10px;
		}
	}

	.project-contents .description {
		padding: 10px;

		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		background-color: $bg-color-2;
		color: $text-color-2;

		a {
			margin: 2px;
		}
	}
}

.techs {
	text-align: center;

	.tech {
		height: 60px;
		width: auto;
	
		padding: 10px;
		margin-bottom: 10px;
	
		border-radius: 5px;
	
		color: black; // for fallback font
		background-color: white;
	
		&.node {
			background-color: #333;
		}
	
		&.typescript {
			background-color: #152740;
		}

		&.jquery {
			height: 50px;
			margin-top: 12px;
		}
	}
}