.project-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2% 2%;
}

.project {
	grid-column: span 1;

	width: 300px;
	padding: 20px;

	background-color: $bg-color-2;
	color: $text-color-2;

	img {
		height: 200px;
		width: 200px;
	}

	a {
		margin: 5px;
	}
}