.project-container {
	display: block;
}

.project {
	width: 75%;
	padding: 20px;
	margin: 20px auto;

	background-color: $bg-color-2;
	color: $text-color-2;

	img {
		height: auto;
		width: 100%;
	}

	a {
		margin: 5px;
	}
}