section {
	padding: 20px 0;
	
	.section-heading {
		text-decoration: underline;
		text-decoration-color: $contrast-color;
		padding-bottom: 10px;
	}

	.section-content {
		max-width: 50%;
	}
}

section:nth-child(even) {
	background-color: $bg-color-2;
	color: $text-color-2;
}

section:nth-child(odd) {
	background-color: $bg-color-1;
	color: $text-color-1;
}
