#about {
	background-color: $bg-color-1;
	color: $text-color-1;
}

#projects {
	background-color: $bg-color-2;
	color: $text-color-2;
}

section {
	padding: 20px 0;
	
	@media screen and (min-width: $screen-width-sm) {
		display: grid;
		grid-template-rows: 1fr;
	}

	.section-heading {
		font-size: 3em;
		text-decoration: underline;
		text-decoration-color: $contrast-color-2;
		padding-bottom: 10px;
	}

	.section-content {
		margin: auto;
		max-width: 80%;
		@media screen and (min-width: $screen-width-xl) {
			max-width: 100%;
		}
	}
}
