<nav class="navbar">
	<a class="navbar-brand">SAAHIL HAMAYUN</a>
</nav>

<h1>Hi. I'm Saahil.</h1>
<p>I graduated from McGill University in December 2018 with a Bachelor of Software Engineering and a minor in philosophy.</p>	