<nav class="navbar">
	<div class="navbar-header">
		<a class="navbar-brand" href="#"><h1>Saahil Hamayun</h1></a>
	</div>

	<div id="social">
		<a class="btn btn-social" href="https://www.linkedin.com/in/saahilh/">
			<i class="fa fa-fw fa-linkedin"></i>
		</a>
		<a class="btn btn-social" href="https://github.com/saahilh/">
			<i class="fa fa-fw fa-github"></i>
		</a>
	</div>
</nav>

<div id="intro" class="row mt-1 page-section">
	<div class="col-xl-12 text-center">
		<img class="img-fluid img-thumbnail" src="<%= image_url("profile.png") %>" alt="Profile Picture" data-toggle="modal" data-target="#profile-img-modal"/>
	</div>
	<div class="col-xl-12 text-center">
		<h2>Hi. I'm Saahil.</h2>
	</div>
</div>

<div id="about-me" class="row page-section">
	<div class="col-xl-1"></div>
	<div class="col-xl-10">
		<h3>About me</h3>
		<p>I graduated from McGill University in December 2018 with a Bachelor of Software Engineering and a minor in philosophy.</p>
	</div>
	<div class="col-xl-1"></div>
</div>

<div id="projects" class="row page-section">
	<div class="col-xl-1"></div>
	<div class="col-xl-10">
		<h3>Projects</h3>
		<ul>
			<li>Graduate Attribute Managements System (GAMS): Node.js application used to analyze program achievement through student grades</li>
			<li>Classroom Friend: Ruby on Rails application for in-class student-lecturer communication</li>
			<li>OurCourses: Flask-based basic social network for students to communicate</li>
			<li>RestoApp: Spring Boot application to manage restaurant layout, orders, and reservations</li>
			<li>Merch Manager: Ruby on Rails application to managing products intended for Shopify app store</li>
			<li>Additional relevant projects include:
				<ul>
					<li>Refactoring a couple of thousand lines of code for LeJOS robots provided by other students to create an object oriented representation of such robots</li>
					<li>Linux-like file system implementation using C</li>
					<li>Domain specific language for car dealerships to manage sales using Acceleo</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-xl-1"></div>
</div>

<div id="contact" class="row page-section">

</div>

<div id="profile-img-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-body">
			<img class="img-fluid" src="<%= image_url("profile.png") %>" alt="Profile Picture"/>
		</div>
	</div>
</div>