<div id="intro" class="row page-section intro">
	<div class="col-xl-12 text-center">
		<img class="img-fluid profile-picture" src="<%= image_url("profile.png") %>" alt="Profile Picture"/>
	</div>
	<div class="col-xl-12 text-center">
		<h1 class="profile-name">Saahil Hamayun</h1>
	</div>
</div>

<div id="about-me" class="row page-section">
	<div class="col-xl-2"></div>
	<div class="col-xl-8">
		<h2>Hello!</h2>
		<p>I'm Saahil.</p>
	</div>
	<div class="col-xl-2"></div>
</div>

<div id="projects" class="row page-section">
	<div class="col-xl-2"></div>
	<div class="col-xl-8">
		<h2>Projects</h2>
		<ul>
			<li>Graduate Attribute Managements System (GAMS): Node.js application used to analyze program achievement through student grades</li>
			<li>Classroom Friend: Ruby on Rails application for in-class student-lecturer communication</li>
			<li>OurCourses: Flask-based basic social network for students to communicate</li>
			<li>RestoApp: Spring Boot application to manage restaurant layout, orders, and reservations</li>
			<li>Merch Manager: Ruby on Rails application to managing products intended for Shopify app store</li>
			<li>Refactoring a couple of thousand lines of code for LeJOS robots provided by other students to create an object oriented representation of such robots</li>
			<li>Linux-like file system implementation using C</li>
			<li>Domain specific language for car dealerships to manage sales using Acceleo</li>
		</ul>
	</div>
	<div class="col-xl-2"></div>
</div>

<div id="contact" class="row page-section contact">
	<div class="col-xl-2"></div>
	<div class="col-xl-8">
			<h2>Contact</h2>
		<div id="social" class="social-buttons text-center">
			<a class="btn" href="mailto:saahil.hamayun@mail.mcgill.ca?Subject=Hello%20Saahil%21">
				<i class="fa fa-fw fa-envelope"></i>
			</a>
			<a class="btn" href="https://www.linkedin.com/in/saahilh/">
				<i class="fa fa-fw fa-linkedin"></i>
			</a>
			<a class="btn" href="https://github.com/saahilh/">
				<i class="fa fa-fw fa-github"></i>
			</a>
		</div>
	</div>
	<div class="col-xl-2"></div>
</div>