<nav class="navbar">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">Saahil Hamayun</a>
	</div>

	<div id="social">
		<a class="btn btn-social" href="https://www.linkedin.com/in/saahilh/">
			<i class="fa fa-fw fa-linkedin"></i>
		</a>
		<a class="btn btn-social" href="https://github.com/saahilh/">
			<i class="fa fa-fw fa-github"></i>
		</a>
	</div>
</nav>

<div id="intro" class="page-section">
	<h1>Hi. I'm Saahil.</h1>
</div>

<div id="description" class="page-section">
	<p>I graduated from McGill University in December 2018 with a Bachelor of Software Engineering and a minor in philosophy.</p>
</div>

<div id="projects" class="page-section">

</div>

<div id="contact" class="page-section">

</div>