// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg-color-1: #e85867;
$text-color-1: #fac3ca;

$bg-color-2: #2da0a6; 
$text-color-2: #ace0e1;

h2 {
	text-transform: uppercase;
	text-align: center;
}

.page-section:nth-child(2) {
	background-color: white;
	color: black;
}

.page-section:nth-child(3) {
	background-color: $bg-color-1;
	color: white;
}

.page-section:nth-child(4) {
	background-color: $bg-color-2;
	color: white;
}

.page-section:nth-child(5) {
	background-color: darkgrey;
	color: white;
}

.intro {
	background-image: asset_url('background-885-dark.jpg');
	background-attachment: fixed;

	height: auto;
	padding: 100px;

	background-size: cover;

	.profile-picture {
		max-width: 200px;
		border-radius: 15%;
		height: auto;
		padding: 0.25rem;
	}

	h1.profile-name {
		color: $bg-color-1;
		background-color: none;
		font-weight: bold;
	}
}

.contact {
	.social-buttons {
		a {
		  $transition-duration: 0.25s;
		  color: white;

		  -o-transition: $transition-duration;
		  -ms-transition: $transition-duration;
		  -moz-transition: $transition-duration;
		  -webkit-transition: $transition-duration;
		  transition: $transition-duration;
		}

		a:hover, a:active {
			color: $bg-color-1; 
		}

		i {
			font-size: 3em;
		}
	}
}