// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar {
	background-color: #3d3a4b;
	color: #D3C0CD;
}

.page-container {
	background-color: #E3DFFF;
}