// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$text-color: #f7f7ff;; // ghost white
$contrast-color: #fe5f55; // sunset orange
$bg-color-1: #577399; // UCLA blue
$bg-color-2: #BDD5EA; // pale aqua

.navbar {
	background-color: #495867; //independence
	text-transform: uppercase;

	a {
	  $transition-duration: 0.25s;
	  color: $text-color;

	  -o-transition: $transition-duration;
	  -ms-transition: $transition-duration;
	  -moz-transition: $transition-duration;
	  -webkit-transition: $transition-duration;
	  transition: $transition-duration;
	}

	a:hover, a:active {
		color: $contrast-color; 
	}
}

.btn-social i {
	font-size: 1.5em;
}

.page-section:nth-child(odd) {
	background-color: $bg-color-1;
}

.page-section:nth-child(even) {
	background-color: $bg-color-2;
}

.img-fluid.img-thumbnail {
	max-width: 200px;
	cursor: pointer;
}